@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: black;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex: 1, 1, 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.content {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 900px;
    flex: 1, 0, auto;
}
    


.logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}


.sec1 {
    height: 310px;
    gap: 20px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1, 1, 0;
}

.left1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 180px;
    gap: 6px;
}

.l1header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.l1text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    border: none;
    border-radius: 6px;
    background: #3882F6;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.right1 {
    background-color: #e5e7eb;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 180px;
}



.sec2 {
    background-color: white;
    width: 1160px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 16px;
    flex: 1, 1, 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.container {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: white;
    width: 1160px;
}

.sqrcnt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 130px;
    height: auto;
    align-items: center;
    justify-content: center;
}

.square {
    padding: 60px;
    background-color: white;
    border: solid 2px #3882F6;
    border-radius: 8px;
}

.sqrtxt {
    font-weight: 100;
    color: #1f2937;
    font-size: small;
}

.sec3 {
    background-color: #e5e7eb;
    height: 260px;
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    flex: 1, 1, 0;
}

.quote {
    font-size: 36px; 
    font-weight: 100;
    color: #1f2937;
    width: 700px;
}

.quotee {
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    width: 500px;
}

.sec4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1160px;
    height: 200px;
    flex: 1, 1, 0;
}

.bluebox {
    
    background-color: #3881f6ec;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 120px;
    padding-right: 120px;
    gap: 80px;
}

.cta {
    color: #F9FAF8;
}

.ctatop {
    font-weight: bold;
    margin-bottom: 10px;
}

.ctabottom {
    font-weight: 100;
    font-size: small;
}

.subtn {
    background-color: #3881f600;
    border: solid 1px #F9FAF8;
}


.footer {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 900px;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: auto;
    flex: 1, 0, auto;
}